In [1]:
import numpy as np
import pandas as pd

In [35]:
arr=np.arange(0,20)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [36]:
arr=arr.reshape(5,4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [37]:
df=pd.DataFrame(arr,index=['rows1','rows2','rows3','rows4','rows5'],columns=['columns1','columns2','columns3','columns4'])
df

       columns1  columns2  columns3  columns4
rows1         0         1         2         3
rows2         4         5         6         7
rows3         8         9        10        11
rows4        12        13        14        15
rows5        16        17        18        19

In [38]:
"""for converting to csf file"""
df.to_csv('df2.csv',index=False)

In [60]:
"""for indexing dataframe """
# loc function --> chooses rows

df.loc['rows1']
type(df.loc['rows1'])

pandas.core.series.Series

In [66]:
# iloc --> chooses multiple rows and columns
df.iloc[3:5,1:4]

       columns2  columns3  columns4
rows4        13        14        15
rows5        17        18        19

In [68]:
# for converting dataframes into arrays 

df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [70]:
df.iloc[3:5,1:4].values

array([[13, 14, 15],
       [17, 18, 19]])

In [73]:
# how many times value of column1 is repeating..
df['columns1'].value_counts()

columns1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [80]:
# very important function it is checking if there is any null values in the program or not
df.isnull().sum()

columns1    0
columns2    0
columns3    0
columns4    0
dtype: int64

In [90]:
# checking unique values column vise
df['columns2'].unique()

array([ 1,  5,  9, 13, 17])

In [8]:
mercedes_df = pd.read_csv("mercedesbenz.csv")
mercedes_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [14]:
mercedes_df.describe()

In [15]:
mercedes_df.info()

In [23]:
mercedes_df['X0'].value_counts() # count how many times a particular value is getting repeated column wise

In [32]:
# mercedes_df[mercedes_df['y']>100]['y']

In [39]:
data=('col1,col2,col3\n''a,b,c\n''x,y,z\n''1,2,3')

In [40]:
data

'col1,col2,col3\na,b,c\nx,y,z\n1,2,3'

In [41]:
from io import StringIO

In [52]:
df1=pd.read_csv(StringIO(data)) # this is the use of StringIO function

In [62]:
# pd.read_csv(StringIO(data),usecols=['col1','col2']) #calling seperate columns

In [63]:
df1.to_csv("sample.csv")

In [64]:
df1=pd.read_csv(StringIO(data),dtype=object) #dtype is used to tell wether to make all columns string or integer
df1

  col1 col2 col3
0    a    b    c
1    x    y    z
2    1    2    3

In [67]:
df1['col1'][2]

'1'